.gradient-background2 {
    width: 100%;
    background: linear-gradient(353.42deg, #F7F8FA -15.69%, #F0F4FB 17.28%, rgba(96, 126, 145, 0.04) 80.88%);

  }
.lab-wrapper {
  position: relative;
  overflow: hidden; 
  padding: 20px 80px;


}
.lab-background {
  background: url('../../../public//back.svg') no-repeat;
  background-position: bottom right;
  background-size: 500px auto; 
  position: absolute;
  inset: 0;
  opacity: 0.7;
  pointer-events: none;
  z-index:0;
  
}


.lab-container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 1;
  font-family: 'Helvetica Neue', sans-serif;
  color: #1f2937;
}

.lab-header h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.lab-header .subtitle {
  font-size: 16px;
  color: #374151;
  margin-bottom: 4px;
}

.lab-header .description {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
  margin-top: 5px;
}

.description2 {
    font-size: 14px;
  color: #244b99;
  line-height: 1.6;
  margin-top: 5px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr,1fr ,1fr));
  gap: 40px;
  margin-top: 40px;
  padding: 0;
}

.service-box {
  border-radius: 12px;

}

.service-icon {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}

.service-box h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 4px;
}

.service-sub {
  font-size: 14px;
  color: #111111;
  margin-bottom: 1rem;
    margin-top: 1rem;

}

.service-list {
  list-style: none;
  padding: 0;
}

.service-list li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
  color: #374151;
  margin-bottom: 10px;
}

.service-list img {
  width: 18px;
  height: 18px;
  margin-top: 6px;
}

